<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student App - Login</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>

<body>
<div class="container">
    <h1>Login Page</h1>

    <ul>
     <li>item1</li>
     <li>item2</li>
     <li>item3</li>
    </ul>
    
 <form action = "/add" method="post">
    <input type="text" name="newItem">
    <input type="submit">
 </form>
</div>

<script src="jquery/dist/jquery.js" />
<script src="bootstrap/dist/js/bootstrap.js" />
</body>
</html>